## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import weather_api_key

# Configure gmaps
gmaps.configure(api_key=weather_api_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,New Norfolk,AU,278.10,few clouds,-42.7826,147.0587,NaN
1,1,Igarka,RU,275.54,overcast clouds,67.4667,86.5833,NaN
2,2,Kaeo,NZ,289.19,overcast clouds,-35.1000,173.7833,NaN
3,3,Lebu,CL,284.63,overcast clouds,-37.6167,-73.6500,NaN
4,4,Macau,MO,299.74,light intensity shower rain,22.2006,113.5461,NaN

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
route_df = vacation_df.loc[vacation_df["Country"]=="US"]
route_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
26,31,Jamestown,US,297.88,overcast clouds,42.0970,-79.2353,NaN
31,40,Kapaa,US,299.33,broken clouds,22.0752,-159.3190,NaN
32,41,Barrow,US,273.03,few clouds,71.2906,-156.7887,NaN
49,59,Kodiak,US,284.23,broken clouds,57.7900,-152.4072,NaN
58,72,Albany,US,299.63,overcast clouds,42.6001,-73.9662,NaN
79,97,Bud,US,299.12,overcast clouds,39.4470,-86.1758,NaN
109,133,Ketchikan,US,285.12,light rain,55.3422,-131.6461,NaN
114,139,Fergus Falls,US,295.46,clear sky,46.2830,-96.0776,NaN
125,155,Hamilton,US,298.20,thunderstorm,39.1834,-84.5333,NaN
138,170,Lakefield,US,294.99,scattered clouds,43.6775,-95.1717,NaN
160,195,Marquette,US,287.84,overcast clouds,46.5333,-87.6335,NaN
197,243,Fortuna,US,290.89,overcast clouds,40.5982,-124.1573,NaN
202,248,Suamico,US,289.20,overcast clouds,44.6319,-88.0393,NaN
215,265,Port Angeles,US,290.21,overcast clouds,48.1181,-123.4307,NaN
238,291,Yarmouth,US,297.02,broken clouds,41.7057,-70.2286,NaN
245,298,Mandan,US,288.71,few clouds,46.8267,-100.8896,NaN
251,305,Nome,US,295.43,few clouds,64.5011,-165.4064,NaN
270,331,Saint Anthony,US,298.11,broken clouds,45.0205,-93.2180,NaN
317,387,Fairbanks,US,297.05,few clouds,64.8378,-147.7164,NaN
328,399,Devils Lake,US,293.21,overcast clouds,48.1128,-98.8651,NaN
356,430,College,US,297.04,few clouds,64.8569,-147.8028,NaN
395,479,Pierre,US,287.66,overcast clouds,44.3683,-100.3510,NaN
397,482,Lapeer,US,295.80,scattered clouds,43.0514,-83.3188,NaN
401,486,Sitka,US,286.09,overcast clouds,57.0531,-135.3300,NaN
425,514,Brigantine,US,298.82,clear sky,39.4101,-74.3646,NaN
434,527,Homer,US,289.84,broken clouds,59.6425,-151.5483,NaN
436,531,Bend,US,290.41,few clouds,44.0582,-121.3153,NaN

In [19]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = "Hamilton"
vacation_end = "Brigantine"
stop1 = "Homer"
stop2 = "Bend"
stop3= "Pierre"

vacation_start = route_df.loc[route_df["City"] == vacation_start]
vacation_end = route_df.loc[route_df["City"] == vacation_end]
vacation_stop1 = route_df.loc[route_df["City"] == stop1]
vacation_stop2 = route_df.loc[route_df["City"] == stop2]
vacation_stop3 = route_df.loc[route_df["City"] == stop3]

In [20]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [21]:
print(end) 
print(stop1) 
print(stop2) 
print(stop3)

[ 39.4101 -74.3646]
[  59.6425 -151.5483]
[  44.0582 -121.3153]
[  44.3683 -100.351 ]

In [22]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
mx_itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
mx_itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,155,Hamilton,US,298.20,thunderstorm,39.1834,-84.5333,NaN
1,527,Homer,US,289.84,broken clouds,59.6425,-151.5483,NaN
2,531,Bend,US,290.41,few clouds,44.0582,-121.3153,NaN
3,479,Pierre,US,287.66,overcast clouds,44.3683,-100.3510,NaN

In [26]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in mx_itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = mx_itinerary_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map.
locations = mx_itinerary_df[["Lat", "Lng"]]
max_temp = mx_itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.5)
# marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))